## Nominal / One Hot Encoding

In [9]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [10]:
#create a sample dataframe with a categorical variable
df = pd.DataFrame({'colour':['red','blue','green','green','red','blue']})

In [11]:
df

  colour
0    red
1   blue
2  green
3  green
4    red
5   blue

In [12]:
## Create an istance of one hot encoder
encoder = OneHotEncoder()

In [14]:
#fit the encoder to dataframe and transform the categorical variable
encoded = encoder.fit_transform(df[['colour']])

In [17]:
import pandas as pd
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [18]:
encoded_df

   colour_blue  colour_green  colour_red
0          0.0           0.0         1.0
1          1.0           0.0         0.0
2          0.0           1.0         0.0
3          0.0           1.0         0.0
4          0.0           0.0         1.0
5          1.0           0.0         0.0

In [19]:
pd.concat([df,encoded_df],axis = 1)

  colour  colour_blue  colour_green  colour_red
0    red          0.0           0.0         1.0
1   blue          1.0           0.0         0.0
2  green          0.0           1.0         0.0
3  green          0.0           1.0         0.0
4    red          0.0           0.0         1.0
5   blue          1.0           0.0         0.0